<!-- die klassen sind dafür da das man das besser testen kann -->
<table class="bm-book-list">
    <tbody>
        <!-- aufpassen, dass man hinter orderBy den Doppelpunkt nicht vergisst-->
        <!-- cool ist, man könnte im ProductListCtrl z.B eine variable machen "orderedBy" und wenn man die
        sortierung von Preis auf name ändern will muss man nur den wert der Variable ändern,
        als gegensatz dazu ist hier statisch nach "price" sortiert-->
        <tr ng-repeat="product in products | orderBy: getProductOrder">
            <td ng-bind="product.name"></td>
            <td ng-bind="product.property"></td>
            <td ng-bind="product.price"></td>
        </tr>
    </tbody>
</table>